In [2]:
import pandas as pd

weather = pd.read_csv ('/Users/sofahanis/Downloads/Weather Dataset/weatherHistory.csv')

display(weather.head())

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [3]:
display(weather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

None

In [20]:
weather.isna().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
Apparent Temperature New      0
dtype: int64

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
weather['Apparent Temperature New'] = scaler.fit_transform(weather[['Apparent Temperature (C)']])

In [16]:
display (weather.head())

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Apparent Temperature New
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,0.523486,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,0.523486
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,0.521084,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,0.521084
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,0.553144,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,0.553144
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,0.501947,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,0.501947
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,0.517356,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,0.517356

In [21]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
reduced_data = pca.fit_transform(weather.select_dtypes(include='number')) #works only with numbers 
display (weather.head())

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Apparent Temperature New
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,0.523486,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,0.523486
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,0.521084,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,0.521084
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,0.553144,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,0.553144
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,0.501947,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,0.501947
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,0.517356,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,0.517356

In [22]:
weather_new = weather.groupby(pd.Grouper(freq='M')).sum()

/var/folders/km/65ngd7zs0v7ggqjmwj4lv7r80000gn/T/ipykernel_62048/3458895957.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  weather_new = weather.groupby(pd.Grouper(freq='M')).sum()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'