In [ ]:
#exercise 1

#A companyâ€™s financial reports stored in an Excel file. - structured
#Photographs uploaded to a social media platform. - unstructured 
#A collection of news articles on a website. - semi-structured if there are dates or categories of the articles 
#Inventory data in a relational database. - structured
#Recorded interviews from a market research study. - unstructured

In [ ]:
#exercise 2

#1. A series of blog posts about travel experiences. 

#To make this data more structured, we can use NLP techniques, like: text parsing (to split posts into smaller sections), named entity recognition (to detect locations, names etc that can be useful) and sentiment analysis (to understand the tone of the posts).
#Columns can be this way: "Author", "Date", "Country visited", "Activities", "Level of liking".

#2. Audio recordings of customer service calls.

#For call recordings can be used: transcription (to convert spoken words into text), sentiment analysis (to understand the level of satisfaction of the customer), AI-powered tools (to help with summarizing).
#Columns for the database: "Agent's name", "Client's name", "Product's category", "Main Issue", "Solved/Not solved", "Level of customer's satisfaction", "Date".

#3. Handwritten notes from a brainstorming session.

#Tools: Optical Character Recognition (to convert handwritten text into digital), grammar checking, categorizing.
#Columns for database: "Note ID", "Date", "Session theme", "Idea", "Asigned to", "Priority"

#4. A video tutorial on cooking.

#Tools: Video-to-text conversion (to create text based on tutorial), object detection for visual elements.
#Columns: "Step Number", "Instruction", "Ingredient", "Tool", "Time", "Temperature"

In [21]:
import pandas as pd

data = pd.read_csv ('/Users/sofahanis/Desktop/DI_Bootcamp/Week3/Day2/EXPw3d2/train.csv')
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [20]:
iris = pd.read_csv ('/Users/sofahanis/Desktop/DI_Bootcamp/Week3/Day2/EXPw3d2/Iris_dataset_2.csv')
print(iris.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [17]:
simple_df = {
    "Character" : ["Lisa", "Bart", "Jackson"],
    "Age" : [16, 18, 20],
    "Server" : ["Asia", "Europe", "USA"]
}
char = pd.DataFrame(simple_df)

char.to_excel ('charact.xlsx', index = False)

In [18]:
char.to_json ('char.json')

In [19]:
file = pd.read_json ('Desktop/DI_Bootcamp/Week3/Day2/EXPw3d2/posts 2.json')
display(file.head())

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...