In [14]:
import pandas as pd
df = pd.read_csv ('/Users/sofahanis/Desktop/DI_Bootcamp/Week3/Day2/Iris_dataset.csv', )
print (df.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [19]:
import pandas as pd
df = pd.read_csv ('/Users/sofahanis/Desktop/DI_Bootcamp/Week3/Day2/Iris_dataset.csv', header = None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [17]:
names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df = pd.read_csv('/Users/sofahanis/Desktop/DI_Bootcamp/Week3/Day2/Iris_dataset.csv', names = names)
print(df.columns)
df.head()

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [20]:
json_data = pd.read_json ('/Users/sofahanis/Desktop/DI_Bootcamp/Week3/Day2/posts.json')
print (json_data.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

In [21]:
json_data ['title']

0     sunt aut facere repellat provident occaecati e...
1                                          qui est esse
2     ea molestias quasi exercitationem repellat qui...
3                                  eum et est occaecati
4                                    nesciunt quas odio
                            ...
95    quaerat velit veniam amet cupiditate aut numqu...
96           quas fugiat ut perspiciatis vero provident
97                          laboriosam dolor voluptates
98    temporibus sit alias delectus eligendi possimu...
99                at nam consequatur ea labore ea harum
Name: title, Length: 100, dtype: object

In [22]:
json_data ['title'].str.upper()
#upper case

0     SUNT AUT FACERE REPELLAT PROVIDENT OCCAECATI E...
1                                          QUI EST ESSE
2     EA MOLESTIAS QUASI EXERCITATIONEM REPELLAT QUI...
3                                  EUM ET EST OCCAECATI
4                                    NESCIUNT QUAS ODIO
                            ...
95    QUAERAT VELIT VENIAM AMET CUPIDITATE AUT NUMQU...
96           QUAS FUGIAT UT PERSPICIATIS VERO PROVIDENT
97                          LABORIOSAM DOLOR VOLUPTATES
98    TEMPORIBUS SIT ALIAS DELECTUS ELIGENDI POSSIMU...
99                AT NAM CONSEQUATUR EA LABORE EA HARUM
Name: title, Length: 100, dtype: object

In [29]:
import numpy as np
from faker import Faker

fake = Faker()

data = [(fake.name(), np.random.randint(18,70)) for _ in range (100)]

randlist = pd.DataFrame (data, columns=['Names', 'Age'])
print (randlist.head(50))

                  Name  Age
0      Jennifer Norton   58
1       Jeremy Rowland   69
2       Alicia Parsons   65
3         Vicki Butler   63
4          Brian Lopez   40
5       Amanda Hoffman   54
6        Cody Robinson   38
7       Timothy Carter   31
8        Alan Williams   41
9         Jamie Keller   59
10       James Stevens   56
11      Jason Martinez   43
12   Laura Alvarado MD   66
13        Alice Tucker   50
14        Andrew Smith   56
15        Erica Grimes   28
16       Randall Mckee   58
17  Margaret Gallagher   21
18      Samantha White   23
19     Matthew Jimenez   21
20        Sean Simmons   22
21         Juan Wilson   48
22      Debra Gonzalez   44
23       Robert Howell   59
24          Anna Foley   22
25      Darryl Perkins   19
26         Renee Lopez   61
27       Mary Peterson   45
28       Shawn Esparza   65
29      Michael Lester   34
30         Brian Jones   43
31      Rhonda Miranda   58
32    Beverly Williams   27
33      Marc Hernandez   21
34     Ashley Calderon   39
35       Richard Hayes   50
36           Lisa Cook   51
37        William Gill   18
38          Ana Chavez   18
39     Gabriella Cohen   28
40      Laura Anderson   42
41    Christopher Cook   27
42     Melissa Hammond   34
43       Frances Rojas   63
44      Susan Robinson   69
45     Charlotte James   42
46   Mrs. Tammy Bryant   26
47       Larry Raymond   40
48        Amanda Salas   55
49           Jon Poole   58

In [33]:
import numpy as np
from faker import Faker

fakes = Faker()

#if doing one by one
products = [fake.word for _ in range (100)]
sales_amount = [np.random.randint(10, 500) for _ in range (100)]
date = [fake.date_this_year () for _ in range (100)]
age = [np.random.randint(18, 65) for _ in range (100)]

#if everything together 
everything = [(fake.word (), np.random.randint (10, 500), fake.date_this_year (), np.random.randint(18, 65)) for _ in range (100)]
randlist = pd.DataFrame (everything, columns = ['Product', 'Sale Amount', 'Date', 'Customer Age'])
print (randlist.head())

    Product  Sale Amount        Date  Customer Age
0     every          245  2025-04-05            24
1      stay          304  2025-01-16            41
2      beat          217  2025-04-15            54
3  Democrat           55  2025-05-13            42
4     north           50  2025-02-17            45

In [37]:
import numpy as np
from faker import Faker
from faker.providers import DynamicProvider
fakes = Faker()

#to make your own fake provider
product_provider = DynamicProvider (
    provider_name = "products", 
    elements = ["Tshirt", "Skirt", "Jacket", "Coat"])
fake.add_provider(product_provider)

everything = [(fake.products (), np.random.randint (10, 500), fake.date_this_year (), np.random.randint(18, 65)) for _ in range (100)]
randlist = pd.DataFrame (everything, columns = ['Product', 'Sale Amount', 'Date', 'Customer Age'])
print (randlist.head())

  Product  Sale Amount        Date  Customer Age
0   Skirt           15  2025-01-26            47
1    Coat          369  2025-05-11            55
2    Coat          110  2025-05-18            59
3    Coat           32  2025-04-19            18
4   Skirt          434  2025-04-28            53

In [40]:
from tensorflow.keras.preprocessing.image import ImageDataGenerator
data_generator = ImageDataGenerator(rotation_range=20)

from scipy.ndimage import rotate
def rotate_image_30_degrees(image):
    return rotate(image, 30, reshape=False, mode='nearest')
data_generator = ImageDataGenerator(preprocessing_function=rotate_image_30_degrees)

ModuleNotFoundError: No module named 'tensorflow'